<!--
  Created by IntelliJ IDEA.
  User: liz
  Date: 2020/5/8
  Time:  17:57 am
  create common js
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="common_js">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/doc.css}">
    <link rel="stylesheet" th:href="@{/css/customized-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-slider.css}"/>
    <link rel="stylesheet" th:href="@{/js/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/DataTables-1.10.15/media/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/DataTables-1.10.15/media/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/DataTables-1.10.15/extensions/Responsive/css/responsive.dataTables.min.css}"/>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/semantic.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/collapse.js}"></script>
    <script th:src="@{/js/doc.js}"></script>
    <script th:src="@{js/plotly-latest.min.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table.min.js}"></script>

    <script th:src="@{/DataTables-1.10.15/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/DataTables-1.10.15/media/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/DataTables-1.10.15/media/js/jquery.spring-friendly.min.js}"></script>

    <script th:src="@{/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js}"></script>
    <script th:src="@{/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.js}"></script>
    <script th:src="@{/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js}"></script>

</div>
</body>
</html>