<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css"/>
    <meta charset="UTF-8">

    <title>LncExpDB All genes</title>
</head>

<body>
<div th:replace="~{common/top_header :: header}"></div>


<div class="breadcrumb" style="margin-top: 20px;margin-left: 30px;margin-right: 30px">
    <li><a href="/LncExpDB">Home</a></li>
    <li>Genes</li>
</div>

<div class="panel panel-default" style="margin-left: 30px;margin-right: 30px;padding-top: 15px">
    <div class="panel-body">
        <div class="row" id="all">
            <div class="row" style="padding-top: 15px;margin-left: 15px;margin-right: 15px">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-9">

                            <div class="col-md-3">
                                <label>Search By: </label>
                                <select name="select_filter" class="select_filter" style="width: 200px;height: 28px" id="feature_sect1">
                                    <option value="geneid">Gene ID</option>
                                    <option value="symbol">Gene Symbol</option>
                                    <option value="classification">Classification</option>
                                    <option value="chromosome">Chromosome</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label>Input Gene ID/Symbol: </label>
                                <select name="feature" class="feature form-control col-md-3" style="width: 200px" id="featurelnc" data-placeholder="eg. HSALNG0000002">-->
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <span class="cancel col-md-2" style="margin-top: 25px" onclick="cancel($(this))" id="featurelnc_cancel" hidden="hidden">
                                    <a><span class="glyphicon glyphicon-remove-circle"></span></a>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
<!--                    <div class="form-group col-md-4">-->
<!--                        <label>Search By: </label>-->
<!--                        <select name="select_filter" class="select_filter" style="width: 200px" id="feature_sect1">-->
<!--                            <option value="geneid">Gene ID</option>-->
<!--                            <option value="symbol">Gene Symbol</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-4">-->
<!--                        <select name="feature" class="feature form-control" style="width: 200px" id="featurelnc" data-placeholder="eg. HSALNG0000002">-->
<!--                            <option value=""></option>-->
<!--                        </select>-->

<!--                    </div>-->

                <table id="lnc_table" class="table table-striped table-bordered">

                </table>

            </div>
        </div>
    </div>
</div>


</body>

<div th:replace="~{common/common_js::common_js}"></div>
<script src="https://bigd.big.ac.cn/js/headerfooter-full.js"></script>
<script th:src="@{/js/BrowsePage/GeneTable.js}"></script>

</html>