<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css"/>
    <meta charset="UTF-8">

    <title>Title</title>
</head>

<body>
<div th:replace="~{common/top_header :: header}"></div>

<ul class="nav nav-tabs" role="tablist" style="padding-top: 30px;padding-left: 6px;padding-right: 6px">
    <li role="presentation" class="active">
        <a href="#all" role="tab" data-toggle="tab">All Genes</a>
    </li>

    <li>
        <a href="#spatial_tab" role="tab" data-toggle="tab">Spatial-Associated Genes</a>
    </li>
    <li role="presentation">
        <a href="#temporal_tab" role="tab" data-toggle="tab">Temporal-Associated Genes</a>
    </li>

</ul>
<div class="tab-content" style="min-height: 500px; margin-bottom: 30px; padding-top: 15px;padding-left: 15px;padding-right: 15px">

    <div role="tabpanel" class="tab-pane active" id="all">
        <div class="row" style="padding-top: 15px">

            <div class="form-horizontal" style="align-content: center">
                <div class="form-group">
                    <div class="col-md-4" style="padding-left: 40px">
                        <span>Search By: </span>
                        <select name="filter" class="filter" id="feature_sect1">
                            <option value="geneid">Gene ID</option>
                            <option value="symbol">Gene Symbol</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="width: 300px">
                        <select name="feature" class="feature form-control" style="width: 200px" id="featurelnc" data-placeholder="eg. HSALNG0000002">
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                    <span class="cancel col-md-1" onclick="cancel($(this))" id="featurelnc_cancel" hidden="hidden">
                        <a><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </span>
                    </div>
                    <div class="col-md-3" style="text-align: center">
                        <select name="filter" class="filter" id="classification">
                            <option value="All">Classification</option>
                            <option value="Intergenic">Intergenic</option>
                            <option value="Sense">Sense</option>
                            <option value="Antisense">Antisense</option>
                            <option value="Intronic (S)">Intronic (S)</option>
                            <option value="Intronic (AS)">Intronic (AS)</option>
                            <option value="Overlapping (S)">Overlapping (S)</option>
                            <option value="Overlapping (AS)">Overlapping (AS)</option>
                        </select>
                    </div>
                </div>
            </div>
            <table id="lnc_table" class="table table-striped table-bordered">

            </table>

        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="spatial_tab">
        <div class="panel-body" style="margin-top: 20px">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_filter_spatial">
                                <span class="glyphicon glyphicon-triangle-bottom"> Filter</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse_filter_spatial">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a  class="tooltip-test" data-toggle="tooltip" title="All labels are clickable, users can click labels to
                            get a specific gene sets">
                                                <span style="font-size: 16px">Feature Label</span>
                                                <span class="glyphicon glyphicon-question-sign"></span>
                                            </a>
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <label>Spatial-Association: </label>
                                                <label class="label label-primary">HouseKeeping</label>
                                                <label class="label label-warning">Specific</label>
                                            </div>
                                            <div>
                                                <label>Diff-Regulated: </label>
                                                <label class="label label-danger">Up-regulated</label>
                                                <label class="label label-primary">Down-regulated</label>
                                            </div>
                                            <div>
                                                <label>Time-Association: </label>
                                                <label class="label label-danger">Dynamic</label>
                                                <label class="label label-primary">Stable</label>
                                                <label class="label label-warning">Time-Specific</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="row" style="padding-bottom: 10px">
                                        <div class="panel panel-default" style="margin-bottom: 0px">
                                            <div class="panel-body">
                                                <div class="col-md-3" style="padding-top: 15px;padding-left: 0px">
                                                    <a  class="tooltip-test" data-toggle="tooltip" title="1. Users can click
                                                     to choose interesting tissues or datasets, then choose a specific expression
                                                    pattern to get a lncRNA gene set.">
                                                        <span style="font-size: 16px">1. Choose data type</span>
                                                        <span class="glyphicon glyphicon-question-sign"></span>
                                                    </a>
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="row" style="padding-left: 15px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="ccle" class="spatial_datatype">
                                                            CCLE
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="subcellular" class="spatial_datatype">
                                                            Subcellular
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="colorectal" class="spatial_datatype">
                                                            Colorectal
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="coronary" class="spatial_datatype">
                                                            Coronary
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="pancreatic" class="spatial_datatype">
                                                            Pancreatic
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="hepatocellular" class="spatial_datatype">
                                                            Hepatocellular
                                                        </label>
                                                    </div>

                                                    <div class="row" style="padding-left: 15px;padding-top: 10px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="escc" class="spatial_datatype">
                                                            ESCC
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="hiv" class="spatial_datatype">
                                                            HIV
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="hbv" class="spatial_datatype">
                                                            HBV
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="hcv" class="spatial_datatype">
                                                            HCV
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="sars2" class="spatial_datatype">
                                                            SARS-CoV2
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="iav" class="spatial_datatype">
                                                            IAV
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9" style="padding-left: 0px">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="col-md-4" style="padding-top: 0px;padding-left: 0px">
                                                        <a  class="tooltip-test" data-toggle="tooltip" title="2. Users can click
                                                     to choose an interesting feature, then click the 'Filter' buttom to get a specific
                                                     lncRNA gene set.">
                                                            <span style="font-size: 16px">2. Choose feature type</span>
                                                            <span class="glyphicon glyphicon-question-sign"></span>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8" style="padding-left: 23px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="housekeeping" class="check_spatial_feature">
                                                            Housekeeping
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="upregulated" class="check_spatial_feature">
                                                            Upregulated
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="downregulated" class="check_spatial_feature">
                                                            Downregulated
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" style="padding-top: 10px;padding-bottom: 15px">

                                            <div class="input-group-btn" style="padding-bottom: 5px;">
                                                <button class="btn btn-primary btn-sm" type="button" id="spatial_filter"
                                                        data-loading-text="Loading..." style="min-height: 30px;min-width: 80px">
                                                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>  Filter
                                                </button>

                                                <button class="btn btn-success btn-sm" type="button" id="spatial_reset"
                                                        data-loading-text="Loading..." style="min-height: 30px;min-width: 80px">
                                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="spatial_table" class="table table-striped table-bordered">

                </table>
            </div>

        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="temporal_tab">
        <div class="panel-body" style="margin-top: 20px">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_filter">
                                <span class="glyphicon glyphicon-triangle-bottom"> Filter</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse_filter">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a  class="tooltip-test" data-toggle="tooltip" title="All labels are clickable, users can click labels to
                            get a specific gene sets">
                                                <span style="font-size: 16px">Feature Label</span>
                                                <span class="glyphicon glyphicon-question-sign"></span>
                                            </a>
                                        </div>
                                        <div class="panel-body">
                                            <div>
                                                <label>Spatial-Association: </label>
                                                <label class="label label-primary">HouseKeeping</label>
                                                <label class="label label-warning">Specific</label>
                                            </div>
                                            <div>
                                                <label>Diff-Regulated: </label>
                                                <label class="label label-danger">Up-regulated</label>
                                                <label class="label label-primary">Down-regulated</label>
                                            </div>
                                            <div>
                                                <label>Time-Association: </label>
                                                <label class="label label-danger">Dynamic</label>
                                                <label class="label label-primary">Stable</label>
                                                <label class="label label-warning">Time-Specific</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="row" style="padding-bottom: 10px">
                                        <div class="panel panel-default" style="margin-bottom: 0px">
                                            <div class="panel-body">
                                                <div class="col-md-3" style="padding-top: 15px;padding-left: 0px">
                                                    <a  class="tooltip-test" data-toggle="tooltip" title="1. Users can click
                                                     to choose interesting tissues or datasets, then choose a specific expression
                                                    pattern to get a lncRNA gene set.">
                                                        <span style="font-size: 16px">1. Choose data type</span>
                                                        <span class="glyphicon glyphicon-question-sign"></span>
                                                    </a>
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="row" style="padding-left: 15px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="brain" class="datatype">
                                                            Brain
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="cerebellum" class="datatype">
                                                            Cerebellum
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="heart" class="datatype">
                                                            Heart
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="kidney" class="datatype">
                                                            Kidney
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="liver" class="datatype">
                                                            Liver
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="testis" class="datatype">
                                                            Testis
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="ovary" class="datatype">
                                                            Ovary
                                                        </label>
                                                    </div>

                                                    <div class="row" style="padding-left: 15px;padding-top: 10px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="pre1" class="datatype">
                                                            Preimplantation DataSet 1
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="pre2" class="datatype">
                                                            Preimplantation DataSet 2
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="differentiation" class="datatype">
                                                            Cell Differentiation
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9" style="padding-left: 0px">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="col-md-4" style="padding-top: 0px;padding-left: 0px">
                                                        <a  class="tooltip-test" data-toggle="tooltip" title="1. Users can click
                                                     to choose an interesting feature, then click the 'Filter' buttom to get a specific
                                                     lncRNA gene set.">
                                                            <span style="font-size: 16px">2. Choose feature type</span>
                                                            <span class="glyphicon glyphicon-question-sign"></span>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8" style="padding-left: 23px">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="check_stable" class="check_feature">
                                                            Stable
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="check_dynamic" class="check_feature">
                                                            Dynamic
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" id="check_specific" class="check_feature">
                                                            Specific
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" style="padding-top: 10px;padding-bottom: 15px">

                                            <div class="input-group-btn" style="padding-bottom: 5px;">
                                                <button class="btn btn-primary btn-sm" type="button" id="filter"
                                                        data-loading-text="Loading..." style="min-height: 30px;min-width: 80px">
                                                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>  Filter
                                                </button>

                                                <button class="btn btn-success btn-sm" type="button" id="reset"
                                                        data-loading-text="Loading..." style="min-height: 30px;min-width: 80px">
                                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal" style="min-height: 20px">
                <div>
                    <span class="cancel" id="cancel_brain" hidden="hidden">
                        <label class="label label-primary" id="cancel_brain_label">brain</label>
                        <a><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </span>
                </div>
            </div>

            <div class="table-responsive">
                <table id="featured_table" class="table table-striped table-bordered">

                </table>
            </div>

        </div>
    </div>

</div>

</body>

<div th:replace="~{common/common_js::common_js}"></div>
<script src="https://bigd.big.ac.cn/js/headerfooter-full.js"></script>
<script th:src="@{/js/BrowsePage/GeneTable.js}"></script>
<script th:src="@{/js/FeaturedPage/FeaturedTable.js}"></script>
<script th:src="@{/js/FeaturedPage/SpatialTable.js}"></script>

</html>