<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- 渲染模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- 可视宽度为设备宽度，初始大小为正常 -->

    <title>
        DataTable Test Page</title>

    <link rel="icon" type="image/x-icon" href="https://bigd.big.ac.cn:443/favicon.ico"> <!--浏览器地址栏显示图片 -->
    <link href="https://bigd.big.ac.cn:443/static/css/carousel.min.css" type="text/css" rel="stylesheet"/>
    <link rel='stylesheet' type='text/css' href="https://bigd.big.ac.cn:443/static/sui/semantic.min.css">
    <link rel='stylesheet' type='text/css' href="https://bigd.big.ac.cn:443/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bigd.big.ac.cn:443/static/css/my.css"/>
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://bigd.big.ac.cn:443/static/js/jquery-1.11.3.min.js"></script>
    <script src="https://bigd.big.ac.cn:443/static/sui/semantic.min.js"></script>
    <script src="https://bigd.big.ac.cn:443/static/js/carousel.min.js"></script>

</head>

<body>

    <div class="ui attached stackable menu">
        <div class="ui container">
            <a class="item">
                <i class="home icon"></i> 主页
            </a>
            <a class="item">
                <i class="grid layout icon"></i> 浏览
            </a>
            <a class="item">
                <i class="mail icon"></i> 信息
            </a>
            <div class="ui simple dropdown item">
                更多
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> 情况编辑</a>
                    <a class="item"><i class="globe icon"></i> 选择语言</a>
                    <a class="item"><i class="settings icon"></i> 账号设置</a>
                </div>
            </div>
            <div class="right item">
                <div class="ui input"><input type="text" placeholder="搜索..."></div>
            </div>
        </div>
    </div>

</body>
</html>